<h2>BookComments</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>body</th>
      <th></th>
    </tr>
  </thead>
  <tbody class='book_comments'>
    <%= render book_comments %>
  </tbody>
</table>