<tr>
  <td>
    <% if user.image.attached? %>
      <%= image_tag user.image.variant( resize: '40') %>
    <% else %>
      <%= image_tag 'no_image.jpg', size: '40x40' %>
    <% end %>
  </td>
  <td><%= user.name %></td>
  <td><%= link_to 'show', user_path(user) %></td>
</tr>