<% create_favorite_book_ids %>
<h2>Books</h2>
<table>
  <thead>
    <tr>
      <th>image</th>
      <th>Title</th>
      <th>Opinion</th>
      <th>Favorites</th>
      <th>comments</th>
    </tr>
  </thead>
  <tbody>
    <%= render books %>
  </tbody>
</table>